:root {
  --pastel_brown: #5c4b51;
  --pastel_teal: #8cbeb2;
  --pastel_yellow: #f2ebbf;
  --pastel_orange: #f3b562;
  --vivid_orange: #ff9562;
  --vivid_pink: #ff6375;
  --pastel_red: #f06060;
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --grad_purple: #948ebf;
  --grad_blurple: #d0d9f2;
  --grad_skyblue: #acdef2;
  --grad_blue: #77dcf2;
  --grade_peach: #f2dac4;
  --back_green: #b0d4c6;
  --back_brown: #7f5151;
  --font-size: 1.3rem;
  --serif: "Noto Serif", serif;
  --sans: "Noto Sans", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--pastel_brown);
  color: var(--pastel_teal);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--pastel_orange);
}
a:hover {
  color: var(--pastel_red);
  text-decoration: none;
}

/*intro styles*/
#intro {
  padding-bottom: 10rem;
}
#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--serif);
}
.name {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--pastel_yellow);
  display: block;
}

#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}

#contact {
  background-color: var(--pastel_teal);
  font-family: var(--serif);
  color: var(--pastel_brown);
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
}
#contact p {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 0.7rem;
}

#contact p:last-child {
  margin-top: 3rem;
}

header nav {
  font-family: var(--serif);
  font-size: 80%;
  padding: 1rem;
}

nav h1 a {
  font-family: var(--sans);
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

header nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

header nav [class*="fa-"] {
  font-size: 200%;
}

header nav[class*="fa-"]:hover {
  font-size: 400%;
}

nav a {
  color: var(--pastel_yellow);
  text-decoration: none;
  display: block;
}

nav h1 a span[class*="fa-"] {
  font-size: 100%;
  color: var(--pastel_orange);
}

.button {
  background-color: var(--pastel_orange);
  padding: 0.5rem;
  border-radius: 5px;
}
.button:hover {
  background-color: var(--vivid_orange);
  color: var(--vivid_pink);
}
@media (min-width: 850px) {
  header nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  header nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}

footer {
  text-align: center;
}

footer nav ul {
  list-style-type: none;
  margin: 0;
  padding: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
}

footer nav[class*="fa-"] {
  font-size: 300%;
}
.email_button {
  background-color: var(--pastel_orange);
  color: var(--pastel_yellow);
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  text-decoration: none;
}

.email_button:hover {
  background-color: var(--vivid_orange);
  color: var(--vivid_pink);
}

.intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
.intro p {
  font-size: 1rem;
  line-height: 1.5;
}

.intro .name {
  font-family: var(--serif);
  font-size: 1rem;
}

.playback-header {
  font-family: var(--sans);
  /*font-size: 4rem;*/
  color: var(--pastel_orange);
}
.gradient {
  background: linear-gradient(
    90deg,
    rgba(242, 208, 120, 1) 0%,
    rgba(192, 127, 176, 1) 53%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 2px;
}

.artists {
  background-color: var(--vivid_orange);
  color: var(--pastel_yellow);
}

.SearchResults {
  background-color: var(--pastel_teal);
  color: var(--pastel_brown);
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1.5;
}

.container {
  display: flex;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: var(--vivid_pink);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto;
}

.main-content {
  margin-left: 320px; /* Adjust this value to fit your layout */
  padding: 20px;
  flex: 1;
}
